<!-- grabs city and team id for ajax params -->
<%= hidden_field_tag 'cityId', value = @city.id %>
<%= hidden_field_tag 'teamId', value = @team.id %>

<h1><%= @team.team_name %></h1>
<div class="section grey">
  <div class=" row container">
    HI
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>

<div class="section grey">
  <div class="row container">
    HI
  </div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <!-- modal trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#create-memory-modal" data-target="#create-memory-modal">Create A Memory!</a>

    <!-- Modal Structure/create a new memory -->
    <div id="create-memory-modal" class="modal">
      <div class="modal-content">
        <h4>Add A Memory</h4>
        <%= form_for :memory, :url => city_team_memories_path(@city, @team) do |m| %>
          <%= m.text_field :name, placeholder: "Your Name" %>
          <%= m.text_area :description, placeholder: "Your Memory Of Team" %>
          <%= m.number_field :age, placeholder: "Your age" %>
          <%= m.date_field :date, placeholder: "What Year did this happen?", :class => "datepicker" %>
          <%= m.text_field :hometown, placeholder: "Your Hometown" %>
          <%= m.submit "Save Team" %>
          <% end %>
      </div>
    </div>

    <!-- Memory Graph -->
    <div id="scatter-plot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

  </div>

  <!-- modal trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#show-memory-modal" data-target="#show-memory-modal">kejfkenf</a>

  <!-- memory show(when point is clicked, this modal shows) -->
  <div id="show-memory-modal" class="modal">
    <div class="modal-content">
      <h4> Memory</h4>

    </div>
  </div>
</div>


<div class="footer-copyright">
  © 2014 Copyright Text
  <a class="grey-text right" href="#!">More Links</a>
</div>
