<!-- grabs city and team id for ajax params -->
<%= hidden_field_tag 'cityId', value = @city.id %>
<%= hidden_field_tag 'teamId', value = @team.id %>

  <div class="team-show-row">
    <h1><%= @team.team_name %></h1>
  </div>

  <div class="row">
    <div class="col m4 s12">
      <img class="history-pic" src="http://l.yimg.com/bt/api/res/1.2/ngUOSRcVDjFe.lLlIuAJIQ--/YXBwaWQ9eW5ld3NfbGVnbztxPTg1O3c9NjMw/http://media.zenfs.com/en/blogs/sptusmlbexperts/gibson062013.jpg">
    </div>
    <div class="col l8 s12">
      <h3><%= @team.team_name %>'s History</h3>
      <p>Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>

  <!-- <div class="venue-row">
    <div class="col l8 s12">
      <h3>Parallax</h3>
      <p>Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
    <div class="col m4 s12">
      <img class="venue-pic" src="https://static.rukkus.com/venue/images/Dodger_Stadium-1314.jpg">
    </div>

  </div> -->

  <div class="memory-row">
    <h2 class="header">Create A Memory!</h2>
    <div class="container">
    <p>Many of us in the world have a particular team we root for. Whether its because
      we grew up in that particular city or just because we love their colors. No matter the
      case, we all have a particular memory of that team. In the chart below, there lies bullet points full
      of memories from people all over the world, each with a description of their particular memory for that team.
      Click on the create button and input your name, your memory, and the age your memory occured. As soon as you submit
      it, it will display on the chart. Go on and explore other user's memories and see where you match up!</p>
    </div>
    <!-- modal trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#create-memory-modal" data-target="#create-memory-modal">Create A Memory!</a>

    <!-- Modal Structure/create a new memory -->
    <div id="create-memory-modal" class="modal">
      <div class="modal-content">
        <h4>Add A Memory</h4>
        <%= form_for :memory, :url => city_team_memories_path(@city, @team) do |m| %>
          <%= m.text_field :name, placeholder: "Your Name" %>
          <%= m.text_area :description, placeholder: "Your Memory Of Team" %>
          <%= m.number_field :age, placeholder: "Your age" %>
          <%= m.date_field :date, placeholder: "What Year did this happen?", :class => "datepicker" %>
          <%= m.text_field :hometown, placeholder: "Your Hometown" %>
          <%= m.submit "Save Team" %>
          <% end %>
      </div>
    </div>

    <!-- Memory Graph -->
    <div id="scatter-plot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

  </div>
