<!-- grabs city and team id for ajax params -->
<%= hidden_field_tag 'cityId', value = @city.id %>
<%= hidden_field_tag 'teamId', value = @team.id %>

  <div class="team-show-row">
    <h1><%= @team.team_name %></h1>
  </div>

  <div class="row" id="history-row">
    <div class="col m4 s12">
      <img class="history-pic" src="http://l.yimg.com/bt/api/res/1.2/ngUOSRcVDjFe.lLlIuAJIQ--/YXBwaWQ9eW5ld3NfbGVnbztxPTg1O3c9NjMw/http://media.zenfs.com/en/blogs/sptusmlbexperts/gibson062013.jpg">
    </div>
    <div class="col m8 s12 black-text">
      <h3><%= @team.team_name %>'s History</h3>
      <p>In the 20th century, the team, then known as the Robins, won league pennants in 1916 and 1920, losing the World Series both times, first to Boston and then Cleveland.
         In the 1930s, the team changed its name to the Dodgers, named after the Brooklyn pedestrians who dodged the streetcars in the city.[4] In 1941, the Dodgers captured
         their third National League pennant, only to lose again to the New York Yankees. This marked the onset of the Dodgers–Yankees rivalry, as the Dodgers would face them
         in their next six World Series appearances. Led by Jackie Robinson, the first black Major League Baseball player of the modern era; and three-time National League Most Valuable Player Roy Campanella,
         </p>
    </div>
  </div>

  <div class="row" id="venue-row">
    <div class="col s4  right" id="venue-pic">
      <img class="venue-pic" src="https://static.rukkus.com/venue/images/Dodger_Stadium-1314.jpg">
    </div>
    <div class="col s8 black-text" id="venue-text">
      <h3>Dodger Stadium</h3>
      <p>Dodger Stadium, occasionally called by the metonym Chavez Ravine, is a baseball park located in the Elysian Park neighborhood of Los Angeles, the home field of the Los Angeles Dodgers, the city's Major League Baseball (MLB) franchise. Opened 54 years ago on April 10, 1962, it was constructed in less than three years at a cost of $23 million, financed by private sources.
          Dodger Stadium is currently the third-oldest ballpark in MLB, after Fenway Park in Boston (1912) and Wrigley Field in Chicago (1914) and is the largest MLB stadium by seat capacity. Often referred to as a "pitcher's ballpark", the stadium has seen 12 no-hitters, two of which were perfect games.The stadium hosted the Major League Baseball All-Star Game in 1980,
          as well as games of eight World Series (1963, 1965, 1966, 1974, 1977, 1978, 1981, and 1988). It also hosted the semifinals and finals of the 2009 World Baseball Classic as well as exhibition baseball during the 1984 Summer Olympics.
          The stadium hosted a soccer tournament on August 3, 2013 featuring four clubs, the hometown team Los Angeles Galaxy, and European giants Real Madrid, Everton, and Juventus.</p>
    </div>

  </div>

  <div class="memory-row">
    <h2 class="header">Create A Memory!</h2>
    <div class="container">
    <p>Many of us in the world have a particular team we root for. Whether its because
      we grew up in that particular city or just because we love their colors. No matter the
      case, we all have a particular memory of that team. In the chart below, there lies bullet points full
      of memories from people all over the world, each with a description of their particular memory for that team.
      Click on the create button and input your name, your memory, and the age your memory occured. As soon as you submit
      it, it will display on the chart. Go on and explore other user's memories and see where you match up!</p>
    </div>
    <!-- modal trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#create-memory-modal" data-target="#create-memory-modal">Create A Memory!</a>

    <!-- Modal Structure/create a new memory -->
    <div id="create-memory-modal" class="modal">
      <div class="modal-content">
        <h4>Add A Memory</h4>
        <%= form_for :memory, :url => city_team_memories_path(@city, @team) do |m| %>
          <%= m.text_field :name, placeholder: "Your Name" %>
          <%= m.text_area :description, placeholder: "Your Memory Of Team" %>
          <%= m.number_field :age, placeholder: "Your age" %>
          <%= m.date_field :date, placeholder: "What Year did this happen?", :class => "datepicker" %>
          <%= m.text_field :hometown, placeholder: "Your Hometown" %>
          <%= m.submit "Save Team" %>
          <% end %>
      </div>
    </div>

    <!-- Memory Graph -->
    <div id="scatter-plot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

  </div>
