<div class="container">
  <%= @city.city_name %><br>
</div>



<h1>You made it to the city show page!</h1>
<%= @city.city_name %><br>

<%= link_to "New #{@city.city_name} Team", new_city_team_path(@city, @teams) %>
<br>
<% @teams.each do |t| %>
  Team Name:<%= link_to "#{t.team_name}", city_team_path(@city, t.id) %><br>
  Team's Cities Id:<%= t.city_id %><br>
  <hr>
<% end %>
